<h1> жџЈТёЈТЏ┤Тћ╣andТи╗Т▓╣тіажєІ----­ЪўЂ </h1>

<%= simple_form_for @job do |f| %>


<%= f.input :description %>
<% if @job.image.present? %>

   <%= image_tag(@job.image.thumb.url) %>
<% end %>

 <div class="group">
   <%= f.input :image, as: :file %>
 </div>
  <%= f.submit "Submit" %>
<% end %>
